---
layout: default
---


  <div class="wrapper" >


    <nav class="nav__wrapper" id="navbar-example">
      <ul class="nav">

        <li role="presentation" class="active" id="home">
          <a href="#home">
            <p class="nav__body"></p>
          </a>
        </li>

        <li role="presentation">
          <a href="#precampana">
            <span class="nav__counter">Antes 24/07</span>
            <h3 class="nav__body">Precampaña</h3>
          </a>
        </li>

        <li role="presentation">
          <a href="#iniciocampana">
            <span class="nav__counter">25/07-23/08</span>
            <h3 class="nav__body">Inicio de campaña</h3>
          </a>
        </li>
        
        <li role="presentation">
          <a href="#mediosybrigadistas">
            <span class="nav__counter">24/08-22/09</span>
            <h3 class="nav__body">Medios y brigadistas</h3>
          </a>
        </li>
        
        <li role="presentation">
          <a href="#propagandatotal">
            <span class="nav__counter">23/09-20/10</span>
            <h3 class="nav__body">Propaganda total</h3>
          </a>
        </li>
        
        <li role="presentation">
          <a href="#denuncia">
            <span class="nav__counter"><img src={{ "/img/denuncia.svg" | prepend: site.baseurl }}></span>
            <h3 class="nav__body">Denuncia</h3>
          </a>
        </li>
        
      </ul>
    </nav>

    <section class="section section1" id="home">
      <div class="container">
      <div class="row">
        <div class="col-md-7 hero">
          <h1>Semáforo electoral</h1>
          <h4>Campañas limpias y reglas parejas para todos enriquecen el proceso eleccionario. Los ciudadanos debemos cuidar y fortalecer nuestra democracia con información y fiscalización. <span class="light">Te invitamos a conocer los 4 periodos de campaña electoral y a revisar qué permite la ley para cada uno de ellos.</span></h4>
        </div>
          <div class="col-md-3 col-md-offset-2 denuncia">
            <p>En semáforo electoral damos luz verde a la buena democracia e invitamos a la ciudadanía a frenar las irregularidades a través del canal de denuncias del Servel</p>
            <img src="{{ "/img/speaker.svg" | prepend: site.baseurl }}">
            <p>¿Encontraste una irregularidad?</p>
            <a href="#denuncia" class="btn btn-lg"><h2>denuncia</h2></a>
          </div>
        </div>
      </div>
    </section>

    <section class="section section2" id="precampana">
      {% include precampana.html%}
    </section>

    <section class="section section3" id="iniciocampana">
      {% include iniciocampana.html%}
    </section>

    <section class="section section4" id="mediosybrigadistas">
      {% include mediosybrigadistas.html%}
    </section>

    <section class="section section5" id="propagandatotal">
      {% include propagandatotal.html%}
    </section>

    <section class="section section6" id="denuncia">
      {% include denuncia.html%}
    </section>


  </div>
