<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4 col-xs-12">
      <h2>¿Presenciaste alguna irregularidad?</h2>
      <h4>Denuncia en:</h4>
      <ul>
        <li>
          Sitio web del Servel (desde 25 de julio)
        </li>
        <li>
          <a href="http://www.servel.cl/direcciones-regionales/" target="_blank">Dirección Regional del Servel</a>
        </li>
        <li>
          Carabineros de Chile
        </li>
      </ul>
      <h4>Tu denuncia debe contener:</h4>
      <ol>
        <li>
          Informarse acerca de qué está permitido y qué no en cada periodo.
        </li>
        <li>
          Lugar y fecha de presentación de la denuncia.
        </li>
        <li>
          Identificación del denunciante (nombre, apellido, rut y dirección).
        </li>
        <li>
          Descripción de la infracción y del lugar donde se cometieron, 
        </li>
        <li>Fecha en que se cometió la infracción o en que tuviste noticia de ella.</li>
        <li>La ley que fue infringida según la infracción. <a href="https://docs.google.com/document/d/1YEryAJIDZddJyzJC-8y8On_XZrPBBvCvRl7t7czTack/edit" target="_blank">Revisa aquí.</a></li>
        <li>La disposición (artículo de la ley) que establece la infracción. <a href="https://docs.google.com/document/d/1YEryAJIDZddJyzJC-8y8On_XZrPBBvCvRl7t7czTack/edit">Revisa aquí.</a></li>
        <li>En caso de estar en conocimiento, la identificación del presunto infractor (nombre de candidato, partido político, medio de comunicación o aportante, entre otros posibles infractores).</li>
        <li>Recuerda recopilar e informar en tu denuncia todas las pruebas posibles, como fotografías, vídeos, nombres de testigos, etcétera.</li>
      </ol>

      <h4>Leyes:</h4>
      Acá encontrarás las leyes relevantes en la materia:
      <ul>
        <li><a href="https://www.leychile.cl/Navegar?idNorma=30082" target="_blank">Ley 19.700 sobre campañas y propaganda electoral</a></li>
        <li><a href="http://www.leychile.cl/Navegar?idNorma=213283" target="_blank">Ley 19.884 sobre financiamiento y gasto electoral</a></li>
        <li><a href="https://www.leychile.cl/Navegar?idNorma=29951" target="_blank">Ley 18.556 del Servel y procedimiento sancionador</a></li>
      </ul>
    </div>
  </div>
</div>


