<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4 col-xs-12">
      <h2>Fechas relevantes</h2>
      <h4>Revisa todo lo que debes saber sobre las elecciones del 15 y 16 de mayo del 2021.</h4>
      <ul>
        <li>
          <h4><mark>15 de abril: <span class="light">Alcaldes a reelección dejan sus cargos.</mark> </h4>
        </li>
        <li>
          <h4><mark>29 de abril: <span class="light">Reinicia las campañas electorales.</mark> </h4>
        </li>
        <li>
          <h4><mark>13 de mayo: <span class="light">Fin de las campañas electorales.</mark> </h4>
        </li>
        <li>
          <h4><mark>15 y 16 de mayo: <span class="light">ELECCIONES: Constituyentes, Alcaldes/as, Concejales/as y Gobernadores/as.</mark> </h4>
        </li>
        <li>
          <h4><mark>18 de mayo: <span class="light">Vence el plazo para inscripción para la primaria presidencial y parlamentaria.</mark> </h4>
        </li>
        <li>
          <h4><mark>13 de junio: <span class="light">Segunda vuelta para Gobernadores Regionales.</mark> </h4>
        </li>
        <li>
          <h4><mark>18 de julio: <span class="light">Elección primaria Presidencial y parlamentaria.</mark> </h4>
        </li>
        <li>
          <h4><mark>21 de noviembre: <span class="light">ELECCIONES: Presidenciales, Parlamentarias y de Consejores Regionales.</mark> </h4>
        </li>
        <li>
          <h4><mark>9 de diciembre: <span class="light">Segunda vuelta de las elecciones presidenciales.</mark> </h4>
        </li>


      </ul>


    </div>
  </div>
</div>
