<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4 col-xs-12">
      <h2>Fechas relevantes</h2>
      <h4>Revisa todo lo que debes saber sobre las elecciones del 11 de abril del 2021.</h4>
      <ul>
        <li>
          <h4><mark>10 de febrero: <span class="light">Inicia el período de propaganda electoral.</mark> </h4>
        </li>
        <li>
          <h4><mark>12 de marzo: <span class="light">Comienza la propaganda electoral en lugares públicos autorizados y la Franja Electoral.</mark> </h4>
        </li>
        <li>
          <h4><mark>20 de marzo: <span class="light">Publicación de vocales de mesa y locales de votación.</mark> </h4>
        </li>
        <li>
          <h4><mark>27 de marzo: <span class="light">Publicación de vocales reemplazantes, que no se pueden excusar.</mark> </h4>
        </li>
        <li>
          <h4><mark>8 de abril: <span class="light">Fin del período  de propaganda electoral y última transmisión de la franja electoral.</mark> </h4>
        </li>
        <li>
          <h4><mark>9 de abril: <span class="light">Desde las 00:00 se prohíben las celebraciones y reuniones públicas relacionadas a las campañas electorales.</mark> </h4>
        </li>
        <li>
          <h4><mark>10 de abril: <span class="light">Capacitación a vocales de mesa en su local de votación.</mark> </h4>
        </li>
        <li>
          <h4><mark>11 de abril: <span class="light">ELECCIONES: Constituyentes, Alcaldes/as, Concejales/as y Gobernadores/as.</mark> </h4>
        </li>
        <li>
          <h4><mark>9 de mayo: <span class="light">Eventual segunda vuelta de Gobernadores/as Regionales.</mark> </h4>
        </li>


      </ul>


    </div>
  </div>
</div>
