<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4 col-xs-12">

      <h2>Fechas relevantes</h2>
      <h4>Revisa todo lo que debes saber sobre las elecciones del 21 de noviembre del 2021.</h4>
      <ul>
        <li>
          <h4><mark>22 de octubre al 18 de noviembre: <span class="light">Franja de las elecciones presidenciales y parlamentarias.</mark> </h4>
        </li>
        <li>
          <h4><mark>21 de noviembre: <span class="light">ELECCIONES: Presidenciales, Parlamentarias y de Consejeros Regionales.</mark> </h4>
        </li>
        <li>
          <h4><mark>9 de diciembre: <span class="light">Segunda vuelta de las elecciones presidenciales.</mark> </h4>
        </li>
        <li>
          <h4><mark>11 de marzo de 2022: <span class="light">Cambio de mando presidencial.</mark> </h4>
        </li>
      </ul>

    </div>
  </div>
</div>
