<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <ul class="list-inline footer-logo">
          <li class="list-inline-item">
            <a href="https://ciudadaniai.org" target="_blank"> <img src="img/logo.svg" style="width: 80%; position: relative; top: 1em; margin-bottom: 1em" alt="Logo Ciudadanía Inteligente" /></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3">
        <ul class="list-unstyled" style="margin-left: 0">
          <li><a href="//twitter.com/ciudadania_i" onClick="ga('send', 'event', 'footer-twitter', 'click');" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadania_i</a></li>
          <li><a href="//www.facebook.com/ciudadaniai" onClick="ga('send', 'event', 'footer-facebook', 'click');" target="blank"><i class="fa  fa-facebook" aria-hidden="true"></i> Ciudadanía Inteligente</a></li>
          <li><a href="//www.instagram.com/ciudadaniai" onClick="ga('send', 'event', 'footer-instagram', 'click');" target="blank"><i class="fa  fa-instagram" aria-hidden="true"></i> Ciudadaniai</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
