<footer class="site-footer">

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="mailto:info@ciudadanointeligente.org?Subject=Semaforo%20electoral%20FCI" class="email-prensa" target="_top"><i class="fa fa-envelope-o" aria-hidden="true"></i> Mándanos un correo</a></li>
          <li><a href="//github.com/ciudadanointeligente" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> Revisa nuestro código</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>
            Un proyecto de <a href="//ciudadanointeligente.org" target="_blank"><img src="https://ckannet-storage.commondatastorage.googleapis.com/2015-01-22T13:31:59.187Z/logo-ciudadanoi-parafondooscuro.png" title="Fundación Ciudadano Inteligente" data-pin-nopin="true"></a>
          </li>
      </ul></div>
      <div class="col-md-4"></div>
        <ul class="list-unstyled">
          <li><a href="https://twitter.com/ciudadanoi" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
          <li><a href="https://www.facebook.com/ciudadanointeligente" target="blank"><i class="fa  fa-facebook" aria-hidden="true"></i> Ciudadano Inteligente</a></li>
        </ul>
      </div>
    </div>

  

</footer>
