<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="section-title">Inicio de campaña</h2>
      <h4 class="section-title"><i class="fa fa-calendar" aria-hidden="true"></i> 26/02 al 23/04</h4>
    </div>
  </div>
  <!-- 01 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/afiche-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Realizar propaganda electoral</div>
      <p class="bajada">Se puede realizar propaganda en espacios expresamente autorizados por el servel.</p>
    </div>
  </div>
  <!-- 02 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/reunirse-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Asistir a Reuniones</div>
      <p class="bajada">Quiénes hagan campañas pueden asistir y participar de reuniones de carácter político.</p>
    </div>
  </div>
  <!-- 03 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/entrevista-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Dar Entrevistas</div>
      <p class="bajada">Quiénes hagan campañas pueden dar entrevistas a medios de comunicación de todo tipo.</p>
    </div>
  </div>
  <!-- 04 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/puerta-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Puerta a Puerta</div>
      <p class="bajada">Quiénes hagan campañas pueden visitar al electorado y recorrer las comunas.</p>
    </div>
  </div>
    <!-- 05 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/redes-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Redes Sociales</div>
      <p class="bajada">Generación y uso de cuentas personales o de campaña en Redes Sociales.</p>
      </div>
  </div>
  <!-- 06 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/brigadista-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Acciones de brigadistas</div>
      <p class="bajada">Portar banderas o lienzos y/o entregar volantes u otros elementos que identifiquen a la candidatura.</p>
    </div>
  </div>
  <!-- 07 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/diario-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Medios escritos</div>
      <p class="bajada">Contratar publicidad y/o hacer llamados a votar o manifestaciones con fines electorales en medios escritos como diarios, revistas, portales de prensa digital y otros medios escritos.</p>
    </div>
  </div>
  <!-- 08 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/radio-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Radios</div>
      <p class="bajada">Avisos en radios, llamados a votar y/o manifestaciones en radio con fines electorales.</p>
    </div>
  </div>
  <!-- 09 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/afiche-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Carteles, afiches o letreros</div>
      <p class="bajada">Carteles, afiches o letreros que identifiquen a una candidatura en espacios públicos y privados</p>
    </div>
  </div>
  <!-- 10 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/vehiculos-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Propaganda en Vehículos</div>
      <p class="bajada">Utilizar vehículos particulares para realizar propaganda electoral o caravanas.</p>
    </div>
  </div>
  <!-- 11 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/encuesta-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Encuestas</div>
      <p class="bajada">Las campañas y medios no pueden difundir encuestas sobre materias electorales o sociales en los 15 días previos a la elección</p>
    </div>
  </div>
  <!-- 12 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/amplificacion-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Usar Amplificación</div>
      <p class="bajada">Hacer uso de amplificación de sonido o perifoneo (uso de altoparlante, megáfono, entre otros)</p>
    </div>
  </div>
  <!-- 13 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/privado-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda en espacios privados sin autorización</div>
    </div>
  </div>
  <!-- 14 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/cine-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Hacer propaganda electoral en cinematógrafos y salas de exhibición de videos</div>
    </div>
  </div>
  <!-- 15 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/grande-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Carteles de un tamaño superior a 2m² en espacio público y 6m² en espacio privado</div>
    </div>
  </div>
  <!-- 16 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/pared-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Rayados, murales y elementos que se adhieran a paredes</div>
    </div>
  </div>
  <!-- 17 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/serviciopublico-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda en infraestructura de servicios públicos</div>
      <p class="bajada">Como paraderos, postes, sistema de alumbrado, cables, microbuses, etcétera.</p>
    </div>
  </div>
  <!-- 18 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/dano-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda que provoque daño permanente en espacio público</div>
    </div>
  </div>
  <!-- 19 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/parques-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda fuera de espacios asignados por el Servel en plazas y parques</div>
    </div>
  </div>
  <!-- 20 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/avion-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda aérea como con un lienzo en un aeroplano, drones o helicópteros</div>
    </div>
  </div>
  <!-- 21 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/tv-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Publicidad por medios de televisión abierta o pagada</div>
    </div>
  </div>
  <!-- disclaimer -->
  <div class="row">
    <div class="col-md-8 col-md-offset-4 col-xs-12 disclaimer">
      <div class="tag no">Importante</div>
      <div>La reforma constitucional que aprobó el Plebiscito no zanjó lo referido al financiamiento de las campañas.
      </div>
    </div>
  </div>
</div>
