<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="section-title">Precampaña</h2>
      <h4 class="section-title"><i class="fa fa-calendar" aria-hidden="true"></i> Hasta el 21/08</h4>
    </div>
  </div>
  <!-- 01 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/pago-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Recibir fondos o aportes</div>
      <p class="bajada">Los aportes sólo se pueden hacer hacia la cuenta corriente única de cada candidato, la que se abre luego de la declaración de una candidatura.</p>
    </div>
  </div>
  <!-- 02 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/gasto-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Gasto electoral</div>
      <p class="bajada">Actividad que implique gasto electoral, sea propio o aportes de terceros antes del periodo. Los gastos sólo se pueden hacer desde la cuenta corriente única de cada candidato, la que se abre luego de la declaración de una candidatura.</p>
    </div>
  </div>
  <!-- 03 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/redes-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Redes Sociales</div>
      <p class="bajada">Publicidad en Redes Sociales: contratar publicidad en redes sociales con fines electorales que promuevan una figura con dichos fines electorales o llame a votar.</p>
    </div>
  </div>
  <!-- 05 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/brigadista-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Acciones de brigadistas</div>
      <p class="bajada">Portar banderas o lienzos y/o entregar volantes u otros elementos que identifiquen a la candidatura.</p>
    </div>
  </div>
  <!-- 06 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/correo-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Correspondencia</div>
      <p class="bajada">Envío por correspondencia de material de propaganda.</p>
    </div>
  </div>
  <!-- 07 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/telefono-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Campañas telefónicas</div>
      <p class="bajada">Llamadas telefónicas que se refieran a las candidaturas o pretendan posicionar a una persona con fines electorales.</p>
    </div>
  </div>
  <!-- 08 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/diario-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Medios escritos</div>
      <p class="bajada">Contratar publicidad y/o hacer llamados a votar o manifestaciones con fines electorales en medios escritos como diarios, revistas, portales de prensa digital y otros medios escritos.</p>
    </div>
  </div>
  <!-- 09 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/radio-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Radios</div>
      <p class="bajada">Avisos en radios, llamados a votar y/o manifestaciones en radio con fines electorales.</p>
    </div>
  </div>
  <!-- 04 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/afiche-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Carteles, afiches o letreros</div>
      <p class="bajada">Carteles, afiches o letreros que identifiquen a una candidatura en espacios públicos y privados.</p>
    </div>
  </div>
  <!-- 10 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/superargasto-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Superar límite al gasto electoral</div>
    </div>
  </div>
  <!-- 11 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/aporteempresa-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Aportes de empresas a campañas</div>
    </div>
  </div>
  <!-- 12 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/privado-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda en espacio privado sin autorización</div>
    </div>
  </div>
  <!-- 13 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/cine-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda en cines y salas de video, como buses u otros</div>
    </div>
  </div>
  <!-- 14 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/grande-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Carteles de un tamaño superior a 2m² en espacio público y 6m² en espacio privado</div>
    </div>
  </div>
  <!-- 15 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/pared-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Rayados, murales y elementos que se adhieran a paredes</div>
    </div>
  </div>
  <!-- 16 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/serviciopublico-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda en infraestructura de servicios públicos</div>
    </div>
  </div>
  <!-- 17 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/dano-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda que provoque daño permanente en espacio público</div>
    </div>
  </div>
  <!-- 18 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/parques-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda fuera de espacios asignados por el Servel en plazas y parques</div>
    </div>
  </div>
  <!-- 19 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/avion-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Propaganda aérea como con un lienzo en un aeroplano, drones o helicópteros</div>
    </div>
  </div>
  <!-- 20 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/tv-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Publicidad por medios de televisión abierta o pagada</div>
    </div>
  </div>
</div>
