<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="section-title">Periodo pre camapaña</h2>
      <h4 class="section-title"><i class="fa fa-calendar" aria-hidden="true"></i> 25/12 al 25/02</h4>
    </div>
  </div>
  <!-- 01 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/entrevista-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Personas naturales difundan ideas o información</div>
      <p class="bajada">No es propaganda electoral la difusión de ideas o de información sobre actos políticos realizados por personas naturales.</p>
    </div>
  </div>
  <!-- 02 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/reunirse-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Asistir a actividades no electorales</div>
      <p class="bajada"> Las autoridades públicas pueden asistir a actividades habituales en el ejercicio de su cargo y propias del funcionamiento de los partidos políticos constituidos o en formación.</p>
    </div>
  </div>

  <!-- 15 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/amplificacion-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Que partidos políticos hagan propaganda electoral</div>
      <p class="bajada">Ningún partido político puede hacer propaganda electoral antes del 26 de febrero y después del 23 de abril. </p>
    </div>
  </div>
</div>
