<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="section-title">Primer período de campaña</h2>
      <h4 class="section-title"><i class="fa fa-calendar" aria-hidden="true"></i> 10/02 hasta el 11/03</h4>
    </div>
  </div>
  <!-- 01 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/entrevista-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Lanzamiento oficial de campañas electorales</div>
      <p class="bajada">Los candidatos/as a los distintos cargos pueden lanzar de manera oficial sus campañas.</p>
    </div>
  </div>
  <!-- 02 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/brigadista-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Realizar propaganda electoral</div>
      <p class="bajada"> Entrega información en la vía pública. Las personas encargadas podrán estár con banderas o lienzos.</p>
    </div>
  </div>
  <!-- 03 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/radio-si.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag si">Está permitido</div>
      <div class="si">Spots de información en radios</div>
      <p class="bajada"> Las radios deben publicar 6 spots diarios con información útil para la ciudadanía.</p>
    </div>
  </div>
  <!-- 04 -->
  <div class="row">
    <div class="col-md-2 col-md-offset-4 col-xs-3"><img src="{{ "/img/tv-no.svg" | prepend: site.baseurl }}"></div>
    <div class="col-md-6 col-xs-9">
      <div class="tag no">No está permitido</div>
      <div class="no">Franja electoral</div>
      <p class="bajada"> No se puede realizar franja electoral en televisión y radio </p>
    </div>
  </div>
</div>
