/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

h1 {
    font-weight: 100;
}

h4 {
    line-height: 26px;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}



/**
 * Links
 */
a {
    color: $green;
    text-decoration: none;

    &:visited {
        color: darken($green, 15%);
    }

    &:hover {
        color: darken($green, 10%);
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/*Home*/

#home .nav__body {
    text-shadow: 0px 0px 10px white;
    width: auto;
    max-width: 520px;
    height: 70px;
    font-weight: 300;
}

.hero {
  padding: 50px 15px 0;
}

.light {
    font-weight: 300;
}

/*Menu*/

.wrapper {
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #4e4e4e;
  position: relative;

}

.corner-ribbon{
  width: 200px;
  background: #FF514E;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}


section {
  font-size: 18px;
  background-color: $red;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;


  $colors: white, #E0E0E0, #EAEAEA, #f5f5f5, #EAEAEA, #f5f5f5;
  @for $i from 1 through length($colors) {
    &:nth-child(#{$i}) {
      background: nth($colors, $i)
    }
  }
}

section:nth-child(2) {
    background-color: #E0E0E0;
    background-image: url(../img/ciudad01.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 0px 0;
}

section:nth-child(3) {
    border-left: 6px solid $green;
}

section:nth-child(4) {
    border-left: 6px solid $yellow;
}

section:nth-child(5) {
    border-left: 6px solid $orange;
}

section:nth-child(6) {
    border-left: 6px solid $red;
}

section:nth-child(7) {
    color: white;
}

.nav {
  &__wrapper {
    position: fixed;
    height: 100%;
    padding: 30px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  & {
    margin: 0 0 0px 30px;
  }
  &__counter {
    font-size: 24px;
    transition: all 0.15s ease-out;
  }
  &__title {
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  &__body {
    font-weight: 100;
    font-size: 18px;
    font-size: 18px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }

  li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;

    &:after {
      content: '';
      display: block;
      border-left: 2px solid #d2d2d2;
      border-top: 2px solid #d2d2d2;
      height: 250px;
      width: 20px;
      position: absolute;
      left: -30px;
      top: 15px;
    }

    a {
      display: block;
      padding: 0;
      color: #505050;
      transition: all 0.15s ease-out;

      &:hover {
        background-color: transparent;
        padding-left: 1em
      }
      &:focus {
        background-color: transparent;
      }
    }

    &.active {
      pointer-events: none;
      padding-left: 1em;

      &:after {
        width: 35px;
        height: 400px;
        top: 35px;
      }

      .nav__counter {
        font-size: 31px;
      }
      .nav__title {
        height: 40px;
        opacity: 1;
        overflow: visible;
      }
      .nav__body {
        height: 100px;
        opacity: 1;
        overflow: visible;
        margin-top: 10px;
      }
    }

  }

}

.nav li:first-child:after {
    border-top: none;
}

a .nav__counter {
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
}

.no {
  color: #F9524E;
}

.si {
    color: darken($green,20%);
}

.tag {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.section .row {
    margin-bottom: 10px;
}

#home .row {
    margin-bottom: 0px;
}

b, strong {
    font-weight: 500;
}

/*Header*/

.site-header, .section-title {
  display: none;
}

.redes {
    font-size: 14px;
}

.redes a {
  color: darken($red,20%);
}

.site-title a {
  color: #8fb300;
}

.sub-brand {
    font-size: 14px;
    font-weight: 300;
}

.sub-brand a {
  color: #888;
  cursor: pointer;
}

p.bajada {
    font-size: 14px;
}

/*Denuncia*/

.denuncia {
    background: $red;
    color: white;
    height: 100vh;
    padding: 40px 15px;
}

.denuncia p {
    font-size: 14px;
}

.denuncia h2 {
    font-size: 21px;
    font-weight: 100;
    margin-bottom: 0;
}

.denuncia img {
    margin: 20px 0;
}

.denuncia a.btn {
    background: white;
    width: 100%;
    color: $red;
    padding: 10px 13px 14px;
}

.denuncia a.btn:hover {
    background: darken(white,8%);
}

.denuncia a.listado_denuncias  {
    background: #FF514E;
    width: 100%;
    border: 2px solid #FFA9A7;
    color: #FFFFFF;
    padding: 10px 13px 14px;
    margin-top: 6px;
}

.denuncia a.listado_denuncias:hover {
    background: darken(#FF514E, 5%);
    border: 2px solid #FFFFFF;
}

.mark, mark {
    background-color: rgba(224, 224, 224, 0.6);
    color: #505050;
    padding: 0;
}

/*Navbar*/

.navbar {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav {
  float: right;
  padding: 20px 0 5px;
  background-color: white;
  margin: 0 -15px;
}

.navbar-nav img {
    max-width: 40px;
}

.navbar-nav li {
    height: 30px;
}

.navbar-default .navbar-nav>li>a {
    margin-left: 15px;
}

.navbar-header {
  background-color: white;
}

/*Responsive utilities*/

@media screen and (max-width: 991px) {

  body { padding-top: 50px; }

  .navbar-default .navbar-brand {
    color: $red;
  }

  .navbar-brand {
    height: 20px;
    padding: 5px 15px;
  }

  .site-title .sub-brand a {
    padding-left: 15px;
  }

  .navbar-nav {
    padding-right: 20px;
  }
  .navbar {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .mark, mark{
    background-color: transparent;
  }

  .nav__wrapper {
    display: none;
  }

  .site-header {
    display: block;
    background-color: #FFF;
  }

  section {
    display: block;
  }

  section:nth-child(2) {
    background-image: none;
    background: $green;
    padding: 0px 0px 40px;
  }

  #section1 h1 {
    display: none;
  }


  .section-title {
    display: block;
  }

  .denuncia {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  section:nth-child(2) {
    background-image: none;
    background: $green;
    padding: 50px 0px 40px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
      background-color: white;
  }
}
